<!DOCTYPE html>
<html>
{{template "_head.html" .Title}}
<body>
	{{template "_header.html" .Active}}
	<form action="/profile" method="post" class="row profile">
		<div class="columns small-8 small-offset-2">
			<div class="row">
				<div class="columns small-10 small-offset-2">
					<h3>Contact Information</h3>
				</div>
			</div>
			<div class="row">
				<div class="columns small-6 text-right">First Name</div>
				<div class="columns small-6">
					<input type="text" name="firstName" value="{{.User.FirstName}}" />
				</div>
			</div>
			<div class="row">
				<div class="columns small-6 text-right">Last Name</div>
				<div class="columns small-6">
					<input type="text" name="lastName" value="{{.User.LastName}}"/>
				</div>
			</div>
			<div class="row">
				<div class="columns small-6 text-right">Email Address</div>
				<div class="columns small-6">
					<input type="text" name="email" value="{{.User.Email}}"/>
				</div>
			</div>
			<div class="row">
				<div class="columns small-10 small-offset-2">
					<h3>Stand Information</h3>
				</div>
			</div>
				<div class="row">
				<div class="columns small-6 text-right">Address</div>
				<div class="columns small-6">
					<input type="text" name="standAddress" value="{{.User.Stand.Address}}" />
				</div>
			</div>
			<div class="row">
				<div class="columns small-6 text-right">City</div>
				<div class="columns small-6">
					<input type="text" name="standCity" value="{{.User.Stand.City}}" />
				</div>
			</div>
			<div class="row">
				<div class="columns small-6 text-right">State</div>
				<div class="columns small-6">
					<input type="text" name="standState" value="{{.User.Stand.State}}" />
				</div>
			</div>
			<div class="row">
				<div class="columns small-6 text-right">Zip Code</div>
				<div class="columns small-6">
					<input type="text" name="standZip" value="{{.User.Stand.Zip}}" />
				</div>
			</div>
			<div class="row">
				<div class="columns small-12 text-right">
					<button class="small" type="submit">Save</button>
				</div>
			</div>
		</div>
	</form>
	{{template "_footer.html"}}
</body>
</html>