body {
  font-family: Helvetica, sans-serif;
}

form {
  margin-bottom: 16px;
}

#query input {
  text-align: right;
}

#error {
  text-align: center;
  width: 40%;
  border: 1px solid #cc0000;
  background-color: #ffcc00;
  padding: 15px;
  border-radius: 5px;
}

#logs ol {
  list-style: none;
  padding: 0 .2em 0;
}

.log {
  line-height: 1.65;
  border-bottom: 1px solid #c5d7ef;
}

.log h5 {
  font-weight: normal;
  white-space: nowrap;
  padding: .4em 0 0 0;
  margin: .1em;
}

.log span {
  margin: 0 .3em;
}

.log .path {
  font-weight: bold;
}

.log .snippet {
  color: #666;  /* Make application log messages shaded. */
}

/* The small error level indicators */
.severity {
  float: left;
  height: 1.2em;
  width: 1.2em;
  line-height: 1.2;
  text-align: center;
  font-weight: bold;
  border-radius: 2px;
}

.level_4 {
  background-color: #f22;
}
.level_3 {
  background-color: #f90;
}
.level_2 {
  background-color: #fd0;
}
.level_1 {
  background-color: #3c0;
}
.level_0 {
  background-color: #09f;
}
