<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Create</title>
</head>
<body>
    <h1>Create</h1>
    <p>Enter your submission</p>
    <form action="/create2" method="post" accept-charset="utf-8">
        <div>
            <input type="text" name="title" placeholder="submission title" id="title">
        </div>
        <div>
            <input type="text" name="link" placeholder="link" id="link">
        </div>
        <input type="submit" value="submit">
    </form>
</body>
</html>