<!DOCTYPE html>
<html>
{{template "_head.html" .Title}}
<body>
	{{template "_header.html" .}}
	<div class="row login">
		<div class="columns small-6 small-offset-3">
			<fieldset>
				<legend>Login</legend>
				<form action="" method="post" class="row">
					<div class="row">
						<div class="columns small-6 text-right">
							email
						</div>
						<div class="columns small-6">
							<input type="text" name="email" />
						</div>
					</div>
					<div class="row">
						<div class="columns small-6 text-right">
							password
						</div>
						<div class="columns small-6">
							<input type="password" name="password" />
						</div>
					</div>
					<div class="row">
						<div class="columns small-12 text-right">
							<a class="password-reset">
								I forgot my password
							</a>
							<button class="small">
								Login
							</button>
						</div>
					</div>
				</form>
			</fieldset>
		</div>
	</div>
	{{template "_footer.html"}}
</body>
</html>