<h1>Upload a CSV</h1>

<input type='file' id='file-selector'>

<div class='content' style='display: none'>
  <button class='btn btn-mini pull-right export'>Export</button>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Duration</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>