<div id='users' style='display:none'>
  <h1>Users</h1>
  <table class='table table-striped'>
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
    </thead>
    <tbody></tbody>
  </table>
</div>

<form class="form-horizontal" id='user-form'>

  <div class="control-group">
    <label class="control-label" for="inputName">Name</label>
    <div class="controls">
      <input type="text" id="user-name" placeholder="Name">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
      <input type="text" id="user-email" placeholder="Email">
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Save</button>
    </div>
  </div>
</form>